@model IEnumerable<MovieGuide.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<h1>All Movies List:</h1>

<p>
    <a class="btn btn-dark text-white" asp-action="Create">Add New Movie</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Movie Name / Genre: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-dark text-whtie" /> |
            <a class="text-white" asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.con)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.con.GenreName)
                </td>
                <td>
                    <a class="btn btn-dark btn-block text-white" asp-action="Edit" asp-route-id="@item.MovieID">Edit</a>
                    <a class="btn btn-dark btn-block text-white" asp-action="Details" asp-route-id="@item.MovieID">Details</a>
                    <a class="btn btn-dark btn-block text-white" asp-action="Delete" asp-route-id="@item.MovieID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
